html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label{margin: 0; padding: 0; border: 0; vertical-align: baseline}
body, div, span, iframe, p, blockquote, pre, a, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label{font-family: 'Open Sans', sans-serif !important;}
html,body,.page-wrap {height: 100%;min-height: 500px;}
a{text-decoration: none;}
ul{list-style: none;}
.hidden {  display: none; }

body{background-image: url(../images/bg.jpg);}
.page-wrap{width: 95%;margin: 0 auto;background-color: #fff;}
.page{border:13px solid #fff;border-width: 0 13px;overflow: hidden; background:#f3f3f3;}
.header{height: 82px;}
.header .logo{margin-left: 20px;margin-top: 16px;float: left;}
.header .topnav{height: 76px;background-color: #01A982;color: #fff;width: 620px;border-radius:0 0 6px 6px;position: relative;float: right;}
.header .topnav .navbar{border:2px solid #f7fdfe;border-bottom-left-radius: 6px;line-height: 29px;color: #fff;background-color: #000;overflow: hidden;border-top: none;float: right;}
.header .topnav .navbar ul li{border-right: 1px solid #E0E0E0;float: left;}
.header .topnav .navbar ul li a{color: #fff;padding: 0 10px;font-size: 12px;font-weight: bold;}
.header .topnav .navbar ul li a:hover{text-decoration: underline;}
.header .topnav .welcome{position: absolute;bottom: 5px;left: 10px;line-height: 21px;font-size: 21px;font-size: 14px;}
.header .topnav .username,
.header .topnav .timezone{padding: 0 20px;}
.header .topnav .timezone{border-left: 1px solid #fff;}
.header .topnav .timezone span{font-style: italic;}

.nav{font-size: 13px;background-color: #000;box-shadow: 7px 7px #dfdfdf;border-radius: 4px;border:1px solid #69b;color: #fff;height: 34px;line-height: 34px;z-index: 1000;clear: both;}
.nav li{border-right: 1px solid grey;float: left;position: relative;}
.nav li a{color: #fff;padding: 7px 18px 5px;}
.nav .subnav .downicon{width: 11px;height: 8px;background: url(../images/down.gif);display: inline-block;}
.nav .subnav:hover ul{display: block;}
.nav .subnav ul{position: absolute;top: 34px;left: 0;background:#555;width: 197px;z-index: 999;display: none;}
.nav .subnav ul li{border-top: 1px solid grey;width: 100%;}
.nav .subnav ul li{color: #fff;}
.nav .subnav ul li a{display: block;padding: 0 0 0 18px;}
.nav .subnav ul li a:hover{background:#000;}
.nav .subnav .subnav ul{left: 198px;top: -1px;display: none;}
.nav .subnav .subnav:hover ul{display: block;}
.nav .righticon{float: right;margin: 12px 10px auto auto;}


.page-content{margin: 0 27px 20px 27px;position: relative;}
.titlebar{padding: 10px 0;border-bottom: 1px solid #ccc;margin-bottom: 19px;overflow: hidden;}
.titlebar .title{line-height: 46px;color: #000;font-size: 37px;font-weight: 300;float: left;}
.optbar{position: absolute;right: 0;top: 19px;overflow: hidden;line-height: 37px;color: #777;font-size: 10px;margin-right: 12px;}
.pagecolumn{margin-left: 22px;}
.pagecolumn a{display: inline-block;padding: 0 5px;color: #fff;font-weight: bold;line-height: 17px;background: #999;border-radius: 3px;cursor: pointer;}
.pagecolumn a.on{background:#000;}

.buttons{margin-left: 50px;}
.buttonsty{background:#000;color: #fff;box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);display: inline-block;border-radius: 2px;padding: 0 18px;font-size: 15px;font-weight:bold;text-shadow:1px 1px 0px #000;line-height: 25px;vertical-align: middle;}
.refreshbtn{width: 25px;height: 25px;background:#000 url(../images/refresh.png) center no-repeat;padding: 0;margin-left: 5px;}

.sortable-wrap{width: 100%;}
.sortable-column{float: left;}
.sortable-column ul.sortable{padding: 0 5px 50px 5px;}

.ui-state-default{margin-bottom: 10px;}
.ui-sortable-placeholder{border:3px dashed #aaa;}
.ui-sortable-helper{opacity: .5;}



.pannel{background: #fff;box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1);color: #4f4f4f;}
.pannel .pannel-title{border:2px solid #01A982; padding: 0 10px;line-height: 28px;overflow: hidden;position: relative;cursor: move;}
.pannel .pannel-title a{font-size: 14px;color: #000;}
.pannel .pannel-title a:hover{color: #A9D0F5;}
.pannel .pannel-title .icons{position: absolute;right: 3px;top: 3px;}
.pannel .pannel-title .icons .icon{width: 17px;height: 17px;background-color: #000;padding: 0;display: inline-block;border-radius: 3px;}
.pannel .pannel-title .icons .minimize{background:#000 url(../images/min.png) center no-repeat;}
.pannel .pannel-title .icons .close{background:#000 url(../images/close.png) center no-repeat;}
.pannel-content{overflow: hidden;border:1px solid #ddd;border-top: 0;}
.widget-empty{margin: 20px 5px 20px 20px;vertical-align: middle;font:italic 11px Helvetica, sans-serif;text-align: left;}

.mark{background:#2d5972;width: 100%;height: 100%;position: fixed;top: 0;left: 0;z-index: 1000;opacity: .3;display: none;}
.dialog{background:#fff;width: 550px;min-height:100px;border-radius: 10px;box-shadow: 4px 4px 0 rgba(0, 0, 0, .5);overflow: hidden;position: fixed;top: 100px;left: 100px;z-index: 1001;display: none;}
.dialog-title{height: 35px;cursor: move;position: relative;}
.dialog-title-txt{background:#01A982;color: #fff;padding: 0 20px;line-height: 35px;float: left;font-size: 20px;font-weight: 300;border-radius: 10px 0;}
.dialog-close{width: 35px;height: 35px;display: block;position: absolute;right: 0;top: 0;background:url(../images/closemodal.png) center no-repeat;}
.dialog-close:hover{background-color: #eee;border-radius:0 0 0 10px;}
.dialog-content{padding: 10px 10px 0;overflow: hidden;}
.dialog-foot{height: 30px;text-align: right;padding: 0 10px 10px 10px;}

.panel-box-left{width: 157px;border-radius: 7px;margin-right: 25px;border:1px solid #8d8d8d;box-shadow: 4px 4px #dfdfdf;font-size: 11px;font-weight: 300;padding: 10px;min-height: 325px;float: left;}
.taglist{margin-top: 5px;}
.taglist li{line-height: 15px;font-size: 12px;margin-bottom: 4px;border-radius: 3px;background:#000;}
.taglist li.on{background:grey;}
.taglist li a{color: #fff;margin: 0 10px;padding: 3px 0;display: block;}
.pannel-box-right {font-size: 12px;vertical-align: middle;}
.pannel-box-right label{font-size: 11px;font-weight: 300;margin-bottom: 5px;display: block;}
.pannel-box-right li{height: 22px;line-height: 22px;}
.pannel-box-right li input{vertical-align: middle;margin: 0;}

.schpannel .togger-btn{text-align: right;margin-bottom: 20px;}
.schpannel .togger-btn .buttonsty{line-height: 21px;font-size: 10px;text-shadow:1px 1px 0px #023171;}
.schpannel .togger-btn .buttonsty span{padding-right: 15px;background:url(../images/arr-up.png) right center no-repeat;}
.schpannel .togger-btn .buttonsty.down span{background:url(../images/arr-down.png) right center no-repeat;}
.schcontent{padding: 20px 23px 50px 23px;position: relative;overflow: hidden;background:#e6e7e7;border-top: 1px solid #ccc;font-size: 11px;font-weight: 300;}
.sch-column{border-right: 1px solid #ddd;width: 180px;display: inline-block;padding: 0 10px;vertical-align: top;}
.sch-subbtn{position: absolute;bottom: 10px;right: 20px;}
.exprotbtn{display: inline-block;height: 20px;background:url(../images/link-normal2.png) 0 center no-repeat;padding-left: 25px;line-height: 20px;position: absolute;left: 10px;bottom: 10px;}

.form-control label{font-size: 13px;padding-bottom: 2px;color: #333;display: block;}
.form-control select,
.form-control input,
.form-control textarea{border:1px solid grey;border-radius:3px;background:#fff;box-shadow:1px 1px 1px #ccc;padding: 2px;color: #666;width: 180px;}
.form-control span.tag{display: block;font-size: 10px;font-weight: bold;padding-bottom: 2px;color: #666;}
.form-control .control-left{width: 80px;}
.form-control .control-right{width: 90px;}
.addbtn{padding:2px 0 2px 20px;line-height: 28px;color: #555;background: url(../images/add-normal.png) left center no-repeat;font: 12px Helvetica, sans-serif;display: inline-block;margin-top: 18px;margin-left: 10px;}
.addbtn:hover{background-image: url(../images/add-hover.png);color: #A04F15;}

.message{font:italic 11px Helvetica, sans-serif;height: 26px;line-height: 26px;}
.msg-list{list-style-type:disc; margin-left: 20px;font-size: 10px;color: #666;font-weight: bold;margin-bottom: 10px;}

.card{border:1px solid #ccc;margin-bottom: 19px;border-radius:5px;box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);overflow: hidden;background:#fff;}
.card .card-content{padding: 15px;}
.card .card-title{height: 23px;}
.card .card-title span.tit{background:#01A982;display: inline-block;float: left;padding:0 19px;color: #fff;border-radius: 0 0 5px 0;font-size: 12px;}
.card .card-title span.icon{padding-right: 5px;}
.card .card-title span.tit a.schicon{color: #fff;line-height: 23px;background: url(../images/magglass.png) right center no-repeat;padding-right: 25px;}
.card .card-title span.tit a.schicon:hover{background-image: url(../images/magglass-hover.png);}
.fill-form-column{width: 220px;margin: 0 25px 0 0;display: inline-block;vertical-align: top;}
.fill-form-column .form-control{margin-bottom: 5px;}
.fill-form-column .form-control select,
.fill-form-column .form-control input,
.fill-form-column .form-control textarea{width: 207px;}
.fill-form-column label{font-size: 14px;font-weight: 300;}
.form-control input[disabled]{background:#eee;font-style: italic;}
.card-bottom-buttons{margin: 40px 0 10px 10px;}

